body{
    width: 50vh;
    height: 100vh;
}
h5 {
    font-weight: bold;
    font-size: 30px;
    color: #4caf50;
    font-family: ubuntu;
  }
  h6 {
    font-weight: bold;
    font-size: 10px;
    color: #4caf50;
    margin-top: -5vh;
    margin-bottom: -2vh;
    font-family: ubuntu;
  }
  #stopWatch {
    height: auto;
    text-align: center;
    display: block;
    padding: 5px;
  }
  
  #timer,
  #fulltime {
    width: 40vw;
    height: auto;
    padding: 20px;
    font-weight: bold;
    font-size: 30px;
    font-family: ubuntu;
    margin-left: 27vw;
    display: block;
    border: 1px solid #eee;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    background-color: white;
    color: #4caf50;
  }
  
  button {
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    font-family: ubuntu;
    outline: none;
    width: 80px;
    padding: 10px 0px;
    background-color: #4caf50;
    border: 1px solid #eee;
    border-radius: 5px;
    color: white;
  }
  h5, h6, p{
  margin: 15px 0  !important;
  }
  #fulltime {
    display: none;
    font-size: 16px;
    font-weight: bold;
  }