body, button, p, h1, h2, h3, h4, h5, h6, span, footer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --main-bg-color: #fff;
    --sec-bg-color: #05014a;
    --active-font-color: rgb(217,171,128);
    --main-font-color: white;
    --light-grey: #f8f4f4;
    --primary-font-style: 'Work Sans', sans-serif;
}
.body{font-family: var(--primary-font-style);}

#mainTitle{
    text-align: center;
}

#output{
    padding: 20px;
}
#output p{
    font-family: var(--primary-font-style);
    /* font-weight:500 */
}
#goalBox {
    position: absolute;
    width: 150px; /* Set the width to your desired value */
    height: 10px;
    background-color: gray;
    border-radius: 20px;
    z-index: 1;
    
  }

  #progressBox {
    position: absolute;
    width: 100px; /* Make the second rectangle slightly shorter */
    height: 10px;
    background-color: black;
    border-radius: 20px;
    z-index: 2;
    
  }
.projectName{
    margin-top: 20px
}
 .progressBar{
    margin-bottom: 20px;
 }